.mainDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

.formDiv {
  background: white;
  padding: 32px;
  border-radius: 18px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* For Chrome, Edge, Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; /* match your background */
  -webkit-text-fill-color: #000000; /* text color */
  transition: background-color 5000s ease-in-out 0s;
}

/* For Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #bd3c3c inset;
  -moz-text-fill-color: #000000;
}
