.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50vh;
  margin-top: 10vh; */
}

.formDiv {
  /* background-color: #bd9393; */
  /* border: 1px solid rgb(234, 221, 221); */
  border-radius: 5%;
  padding: 5vh;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
