.main {
  background-color: #d1d1ae;
  border: 1px solid rgb(234, 221, 221); /* Correct syntax for border */
  border-radius: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 40%;
  width: 50vh;
  margin: 10px;
  padding: 10px;
}