.restaurant-wrapper {
  display: flex;
  flex-direction: column;
  height: 98%;
  width: 100%;
}

.restaurant-table-container {
  flex: 1;
  overflow-y: auto;
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.pagination-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 25%;
  margin: 20px 0 15px;
}

.table-header {
  position: sticky;
  top: 0;
  background: #f0f0f0;
  z-index: 10;
}

.empty-message {
  text-align: center;
  padding: 20px;
}

.pagination-container {
  margin-top: 20px;
}
